.-mono {
    font-family: 'Fira Code', monospace;
}

@keyframes glow-btn {
    0%, 100% {
        background: rgba(255, 107, 107, 1);
    }
    25% {
        background: rgba(83, 103, 180, 1);
    }
    50% {
        background: rgba(87, 57, 140, 1);
    }
    75% {
        background: rgba(173, 141, 227, 1);
    }
}

.btn-list:hover .btn {
    opacity: 0.5;
}

.btn-list {
    pointer-events: none;
}

.btn {
    position: relative;
    text-decoration: none;
    display: inline-block;
    isolation: isolate;
    padding: 5px 10px;
    border-radius: 30px;
    transition: opacity 0.3s ease;
    pointer-events: all;
    cursor: pointer;
}

.btn-list .btn:hover {
    opacity: 1;
}

.btn::after {
    content: '';
    display: block;
    position: absolute;
    left: 8px;
    right: 8px;
    bottom: -2px;
    height: 4px;
    border-radius: 2px;
    transition: opacity 0.3s ease;
    opacity: 0;
    animation: glow-btn 12s ease-in-out infinite;
    background: rgba(0, 0, 0, 0);
    z-index: -10;
}

.btn:hover::after {
    opacity: 1;
    animation: gradient-text 12s ease-in-out infinite, glow-btn 12s ease-in-out infinite;
}

.divider {
    width: 100px;
    border-radius: 2px;
    height: 4px;
    animation: gradient-text 12s ease-in-out infinite, glow-btn 12s ease-in-out infinite;
}

.link-item {
    transform: translateY(0);
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.link-item:hover {
    transform: translateY(-10px);
}
