@import '@fontsource/fira-code';
@import '@fontsource/gabarito';

@import 'tailwindcss';

@import "./components.css";
@import "./effects.css";

@layer base {
    body {
        @apply text-gray-400;
    }
}

body {
    background: #111111;
    font-family: "Gabarito", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
}
