@keyframes gradient-text {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.gradient-text {
    position: relative;
    background: linear-gradient(45deg, #ff6b6b, #5367b4, #57398c, #ad8de3);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-text 12s ease-in-out infinite, glow 12s ease-in-out infinite;
}

@keyframes glow {
    0%, 100% {
        filter: drop-shadow(0 0 1rem rgba(255, 107, 107, 0.2));
    }
    25% {
        filter: drop-shadow(0 0 1rem rgba(83, 103, 180, 0.2));
    }
    50% {
        filter: drop-shadow(0 0 1rem rgba(87, 57, 140, 0.2));
    }
    75% {
        filter: drop-shadow(0 0 1rem rgba(173, 141, 227, 0.2));
    }
}

.breathing-cloth {
    position: relative;
    overflow: hidden;
}

.breathing-cloth::after {
    content: '';
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at 0% 100%, rgba(88, 166, 255, 0.05) 100%, transparent 80%),
    radial-gradient(circle at 100% 0%, rgba(163, 113, 247, 0.05) 100%, transparent 80%);
    animation: float 20s ease-in-out infinite;
    pointer-events: none;
    z-index: -1;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    51%, 100% {
        opacity: 0;
    }
}


.cursor {
    position: relative;
    top: 10px;
    left: 0;
    background: gray;
    width: 20px;
    height: 3px;
    animation: blink 1s infinite, gradient-text 12s ease-in-out infinite, glow 12s ease-in-out infinite;
}

